@import 'host-variable';
@import 'atomic/molecule';
$host: host('task334-banner');

:host {
	@include molecule($host);
}

:host {
	display: flex;
	width: hvar(--width);
	height: calc(hvar(--width) / 336 * 117);

	svg {
		width: hvar(--width);
		height: calc(hvar(--width) / 336 * 117);
	}
}
