<div class="navigator container">
    <mat-toolbar style="display: flex; justify-content: space-between;" color="basic">
        <button mat-icon-button (click)="onBackButtonClick.emit()" aria-label="Back Button">
            <mat-icon color="primary">close</mat-icon>
        </button>
        <button class="add" mat-flat-button color="primary" (click)="onSubmit.emit()" aria-label="Submit Button">
            {{ submitButtonValue }}
        </button>
    </mat-toolbar>
</div>
<div class="contents">
    <form [formGroup]="formGroup">        
        <textarea matInput placeholder="いまなにする？" formControlName="taskName"></textarea>
    </form>
</div>