<div class="navigator container">
    <mat-toolbar style="display: flex; justify-content: space-between;">
        <button mat-icon-button (click)="onBackButtonClick.emit()" aria-label="Back Button">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-flat-button (click)="onAddButtonClick.emit()" aria-label="Add Button">
            Add
        </button>
    </mat-toolbar>
</div>
<div class="contents">
    <form [formGroup]="formGroup" style="width: 100%; height: 100%;">        
        <mat-form-field style="width: 100%; height: 100%;">
            <textarea matInput placeholder="タスク名を入力" formControlName="taskName"></textarea>
        </mat-form-field>
    </form>
</div>