@import 'host-variable';
@import 'atomic/component';

@mixin page($host) {
	@include component($host);
  @include hvar(--width, inherit);
  @include hvar(--height, inherit);

  position: absolute;
  width: hvar(--width);
  height: hvar(--height);

  background: white;
}

