@import 'host-variable';
@import 'atomic/component';

@mixin template($host) {
	@include component($host);
  @include hvar(--width, 100%);
  @include hvar(--height, 100%);

  width: hvar(--width);
  height: hvar(--height);
  background-color: white;
}

