:host {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: black;

    frames-overlay {
        --width: 360px;

        templates-task-list {
            --width: 360px;
        }
    }

    button.add.task {
        position: fixed;
        right: 16px;
        bottom: 16px;
    }
}