@import 'host-variable';
$host: host('task');

:host {
    @media screen and (max-width: 425px) {
        @include hvar(--cell, calc(100vw / 45));
    }

    @media screen and (min-width: 426px) {
        @include hvar(--cell, 8px);
    }
}


:host {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: black;

    frames-overlay {
        --cell: #{hvar(--cell)};
        --width: calc(hvar(--cell) * 45);
        --height: 100vh;

        templates-task-list {
            --width: calc(hvar(--cell) * 45);
        }
    }
}