@import 'host-variable';
$host: host('task');

:host {
    @media screen and (max-width: 425px) {
        @include hvar(--cell, calc(100vw / 45));
    }

    @media screen and (min-width: 426px) {
        @include hvar(--cell, 8px);
    }
}


:host {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: black;

    frames-overlay {
        --width: calc(hvar(--cell) * 45);

        templates-task-list {
            --width: calc(hvar(--cell) * 45);
        }
    }

    button.add.task {
        position: fixed;
        z-index: 1000;
        right: 16px;
        bottom: 16px;
    }
}